@media (min-width: 280px) and (max-width: 480px) {
  .container {
    gap: 10px;
    align-items: center;
  }
  .header {
    height: 300px;
    align-items: center;
  }

  .header::after {
    height: 302px;
  }
  .nav-buttons {
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
  }

  .nav-btn {
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
  }

  .header img {
    height: 300px;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    letter-spacing: 0.05rem;
  }

  .line {
    width: 175px;
  }

  p {
    font-size: 0.9rem;
    width: 270px;
    line-height: normal;
  }

  .sobre-a-banda {
    align-items: center;
  }

  .sobre-a-banda img {
    height: 250px;
    width: 250px;
  }

  .sobre-conteudo {
    flex-direction: column;
    align-items: center;
  }

  .sobre-conteudo-1 {
    flex-direction: column;
  }

  .nossa-musica {
    align-items: center;
  }

  .nossa-musica-conteudo {
    flex-direction: column;
    align-items: center;
  }

  .nossa-musica-conteudo-1 {
    align-items: center;
  }

  .spotify {
    min-width: 250px;
  }

  .shows-conteudo {
    justify-content: center;
  }

  .shows-conteudo-1 {
    align-items: center;
    padding-left: 0;
  }

  .video-conteudo {
    align-items: center;
    gap: 20px;
    min-height: 500px;
  }

  .video-conteudo iframe {
    height: 250px;
    width: 360px;
  }

  .galeria-conteudo {
    align-items: center;
    min-height: 500px;
  }

  .splide {
    width: 365px;
  }

  .slide-image {
    width: 365px;
    height: 250px;
  }

  .slide-image img {
    height: 250px;
  }

  .contato-conteudo {
    align-items: center;
    height: 200px;
    gap: 30px;
  }
  & .contato-conteudo img {
    height: 100px;
    width: 200px;
  }

  .contato-conteudo-1 {
    align-items: center;
    padding: 10px 10px 10px 10px;
  }

  .redes-contato {
    gap: 20px;
  }

  .icones-footer svg {
    width: 30px;
    height: 60px;
  }
  #bandcamp {
    width: 65px;
  }

  .creditos-copyright p {
    font-size: 0.6rem;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  .header {
    height: 300px;
    width: 100%;
  }

  .header::after {
    height: 302px;
  }

  .nav-buttons {
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 30px;
  }

  .nav-btn {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    height: 30px;
    align-items: center;
  }

  .header img {
    height: 300px;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    letter-spacing: 0.3rem;
  }

  .line {
    width: 175px;
  }

  p {
    font-size: 1rem;
    width: 460px;
    line-height: 2rem;
  }

  .sobre-a-banda {
    align-items: center;
  }

  .sobre-a-banda img {
    height: 350px;
    width: 350px;
  }

  .sobre-conteudo {
    flex-direction: column;
    align-items: center;
  }

  .sobre-conteudo-1 {
    flex-direction: column;
    align-items: center;
  }

  .nossa-musica {
    align-items: center;
  }

  .nossa-musica-conteudo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nossa-musica-conteudo-1 {
    align-items: center;
  }

  .shows-conteudo {
    justify-content: center;
  }

  .shows-conteudo-1 {
    align-items: center;
    padding-left: 0;
  }

  .video-conteudo {
    align-items: center;
    justify-content: center;
    gap: 30px;
    min-height: 450px;
  }

  .video-conteudo iframe {
    height: 325px;
    width: 470px;
  }

  .galeria-conteudo {
    align-items: center;
    min-height: 450px;
  }

  .splide {
    width: 470px;
  }

  .slide-image {
    height: 350px;
    width: 470px;
  }

  .slide-image img {
    height: 350px;
  }

  .contato-conteudo {
    align-items: center;
    gap: 20px;
    padding: 10px 10px 10px 10px;
  }

  .contato-conteudo-1 {
    align-items: center;
  }

  .redes-contato {
    gap: 20px;
  }

  .icones-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  .container {
    gap: 35px;
  }

  .header {
    height: 350px;
  }

  .header::after {
    height: 352px;
  }

  .header img {
    height: 350px;
    width: 10;
  }

  .nav-buttons {
    width: 100%;
    justify-content: space-around;
    height: 30px;
  }

  .nav-btn {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    height: 30px;
    align-items: center;
  }

  h1 {
    font-size: 1.9rem;
    letter-spacing: 0.4rem;
  }

  .line {
    width: 175px;
  }

  p {
    font-size: 0.9rem;
    width: 600px;
  }

  .sobre-a-banda {
    align-items: center;
  }

  .sobre-a-banda img {
    height: 250px;
    width: 250px;
  }

  .sobre-conteudo {
    flex-direction: column;
    align-items: center;
  }

  .sobre-conteudo-1 {
    flex-direction: column;
    align-items: center;
  }

  .nossa-musica {
    align-items: center;
  }

  .nossa-musica-conteudo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nossa-musica-conteudo-1 {
    align-items: center;
  }

  .shows-conteudo {
    justify-content: center;
  }

  .shows-conteudo-1 {
    align-items: center;
    padding-left: 0;
  }

  .video-conteudo {
    align-items: center;
    gap: 30px;
    min-height: 350px;
  }

  .video-conteudo iframe {
    height: 325px;
    width: 600px;
  }

  .galeria-conteudo {
    align-items: center;
    min-height: 350px;
  }

  .splide {
    width: 600px;
  }

  .slide-image {
    height: 350px;
    width: 600px;
  }

  .slide-image img {
    height: 350px;
  }

  .contato-conteudo {
    align-items: center;
    min-height: 350px;
  }

  .contato-conteudo-1 {
    align-items: center;
  }

  .redes-contato {
    gap: 20px;
  }

  .icones-footer {
    flex-wrap: wrap;
    justify-content: center;
  }

  .icones-footer svg {
    height: 30px;
    width: 30px;
  }

  #bandcamp {
    width: 120px;
    height: 32px;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .header {
    height: 100vh;
    width: 100%;
  }

  .header::after {
    height: 100vh;
  }

  .header img {
    height: 100vh;
    width: 100%;
  }

  .line {
    width: 175px;
  }

  .sobre-a-banda {
    align-items: center;
  }

  .sobre-a-banda img {
    height: 250px;
    width: 250px;
  }

  .sobre-conteudo {
    flex-direction: column;
    align-items: center;
  }

  .sobre-conteudo-1 {
    align-items: center;
  }

  .nossa-musica {
    align-items: center;
  }

  .nossa-musica-conteudo {
    align-items: center;
    justify-content: center;
  }

  .nossa-musica-conteudo-1 {
    align-items: center;
  }

  .video-conteudo {
    align-items: center;
    gap: 30px;
    min-height: 450px;
  }

  .video-conteudo iframe {
    height: 325px;
    width: 520px;
  }

  .galeria-conteudo {
    align-items: center;
    min-height: 450px;
  }

  .splide {
    width: 520px;
  }

  .slide-image {
    height: 350px;
    width: 520px;
  }

  .slide-image img {
    height: 350px;
  }

  .contato-conteudo {
    align-items: center;
  }

  .contato-conteudo-1 {
    align-items: center;
    padding: 10px 10px 10px 10px;
  }

  .redes-contato {
    gap: 20px;
  }

  .icones-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1201px) and (max-width: 1920px) {
  .container {
    gap: 80px;
  }

  .header {
    height: 100vh;
    width: 100%;
  }

  .header::after {
    height: 101vh;
  }

  .header img {
    height: 100vh;
    width: 100%;
  }

  h1 {
    font-size: 3rem;
    letter-spacing: 1rem;
  }

  .line {
    width: 175px;
  }

  p {
    font-size: 1rem;
    width: 650px;
  }

  .sobre-a-banda {
    align-items: center;
  }

  .sobre-a-banda img {
    height: 350px;
    width: 350px;
  }

  .sobre-conteudo {
    align-items: center;
  }

  .sobre-conteudo-1 {
    gap: 100px;
    align-items: center;
    justify-content: center;
  }

  .nossa-musica {
    align-items: center;
  }

  .nossa-musica-conteudo {
    gap: 100px;
    align-items: center;
    justify-content: center;
  }

  .nossa-musica-conteudo-1 {
    align-items: center;
  }

  .video-conteudo {
    align-items: center;
    gap: 30px;
    min-height: 450px;
  }

  .galeria-conteudo {
    align-items: center;
    height: 100vh;
  }

  .contato-conteudo {
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
  }

  .contato-conteudo img {
    height: 200px;
    width: 400px;
  }

  .contato-conteudo-1 {
    align-items: center;
  }

  .redes-contato {
    gap: 20px;
  }

  .icones-footer {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 1921px) {
  .container {
    gap: 200px;
  }

  .header {
    height: 100vh;
    width: 100%;
  }

  .header::after {
    height: 101vh;
  }

  .header img {
    height: 100vh;
    width: 100%;
  }

  .nav-btn {
    font-size: 2rem;
  }

  h1 {
    font-size: 6rem;
    letter-spacing: 1rem;
  }

  p {
    font-size: 2rem;
    width: 900px;
    line-height: 3rem;
    letter-spacing: 0.1rem;
  }

  .sobre-a-banda {
    align-items: center;
    justify-content: center;
    gap: 70px;
  }

  .sobre-a-banda img {
    height: 550px;
    width: 550px;
  }

  .sobre-conteudo {
    align-items: center;
  }

  .sobre-conteudo-1 {
    gap: 200px;
    align-items: center;
    justify-content: center;
  }

  .nossa-musica {
    align-items: center;
    gap: 100px;
  }

  .nossa-musica-conteudo {
    gap: 350px;
    align-items: center;
    justify-content: center;
  }

  .nossa-musica-conteudo-1 {
    align-items: center;
  }

  .spotify {
    height: 800px;
    width: 800px;
  }

  .data-evento-ingressos img {
    width: 450px;
    height: 450px;
    border: 2px solid var(--gray-text);
    border-radius: 12px;
  }

  .data-evento-ingressos button {
    letter-spacing: 0.3rem;
    font-size: 2rem;
    height: 60px;
    width: 200px;
  }

  .video-conteudo {
    align-items: center;
    gap: 70px;
    height: 100vh;
  }

  .video-conteudo iframe {
    height: 700px;
    width: 1440px;
  }

  .galeria-conteudo {
    align-items: center;
    gap: 70px;
    height: 100vh;
  }

  .splide {
    width: 1440px;
    height: 100%;
    display: flex;
  }

  .slide-image {
    height: 800px;
    display: flex;
    align-items: center;
  }

  .slide-image img {
    width: 1440px;
    height: 800px;
  }

  .contato-conteudo {
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    gap: 70px;
  }

  .contato-conteudo img {
    height: 400px;
    width: 800px;
  }

  .contato-conteudo-1 {
    align-items: center;
    gap: 15px;
  }

  .redes-contato {
    gap: 35px;
  }

  .icones-footer svg {
    height: 70px;
    width: 100px;
  }

  .creditos-copyright p {
    font-size: 1.2rem;
  }
}
